@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #B4D7FE;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

main {
    position: relative;
    display: flex;

    background-color: #5C9CE5;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.buildings {
    position: absolute;
    width: 65%;
    left: 0;
    bottom: -10px;
}

.buildings img {
    width: 100%;
    height: 100%;
}

.overview {
    position: relative;
    width: 25%;
    padding: 1.5em;

    color: #fff;
}

.mini_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_city {
    width: 3em;
    aspect-ratio: 1 / 1;

    background-color: transparent;
    border: none;
}

.add_city img {
    width: 100%;
    height: 100%;
}

.city_slider_button {
    height: .75em;
    aspect-ratio: 1 / 1;

    border-radius: 2em;
    border: none;
    background-color: #ffffff99;
}

.city_slider_button.active {
    aspect-ratio: 2.5 / 1;
    background-color: #fff;
}


.degree_slider {
    display: flex;
    width: 25%;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;
}

.degree_slider span {
    color: #ffffff99;
}

.degree_slider span.active {
    color: #fff;
}

#degree_toggle {
    height: 0;
    width: 0;
    visibility: hidden;
}

.degree_toggle {
    position: relative;
    display: block;
    text-indent: -9999px;
    height: 1em;
    aspect-ratio: 2 / 1;
    background: #ffffff54;
    border-radius: 100px;
    cursor: pointer;
}
  
.degree_toggle:after {
    content: '';
    position: absolute;
    height: 170%;
    aspect-ratio: 1 / 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -20%);
    transition: 0.3s;
    background: #fff;
    border-radius: 50%;
}
  
#degree_toggle:checked + .degree_toggle:after {
    left: 100%;
}

.cities {
    position: relative;
}


.location {
    padding-block: 2em;
}

.location > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location img,
.temperature img {
    width: 1.7em;
    padding-right: 0.3em;
}

.location h2 {
    font-weight: 300;
}

.temperature {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.temperature h1 {
    font-weight: 700;
    font-size: 4em;
}

#next_city,
#prev_city {
    position: absolute;
    background: transparent;
    border: none;
    top: 12em;
    z-index: 100;
}

#next_city {
    right: 0;
}

#prev_city {
    left: 0;
}

.temperature p {
    display: flex;
}

.dashboard {
    width: 75%;

    padding: 1.5em;

    --d_radius: 2em;
    border-radius: var(--d_radius) 0 0 var(--d_radius);
    background-color: #E4F1FF;
}

.welcome {
    display: flex;
    justify-content: space-between;
    padding-bottom: .75em;
}

.welcome .menu {
    background: transparent;
    border: none;
}

.profile {
    display: flex;
    gap: 1.75em;
}

.profile_pic {
    width: 3em;
    aspect-ratio: 1 / 1;
    background: #5C9CE5;
    border-radius: .75em;
    border: none;
}

.profile_pic img {
    height: 70%;
}

.temperature_graph {
    padding: 1.75em;
    background-color: #fff;
    border-radius: 1.75em;
}

.temperature_graph .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature_graph .header div {
    display: flex;
}

.temperature_graph .header button {
    font-family: 'Nunito', sans-serif;
    margin-left: 1em;
    padding-block: .25em;
    padding-inline: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
    border-radius: 0.75em;
    border: none;
}

.temperature_graph .header img {
    height: 1em;
}

.temperature_graph .labels {
    display: flex;
    justify-content: space-between;
    padding-block: 1.75em;
}

.temperature_graph .labels div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature_graph .labels img{
    height: 2em;
}

.mychart {
    display: flex;
    justify-content: center;
}

.mychart div {
    width: 100%;
}

.more_details {
    padding-block: 1.25rem;
}

.weather_details {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
}

.details_row {
    display: flex;
    justify-content: space-between;
    gap: 1.75em;
}

.details_card {
    background-color: #fff;
    width: 100%;
    border-radius: 1.75em;
    padding: .75em 1.75em;
    font-weight: 300;
}

.details_header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.details_icon {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: #5C9CE5;
    border-radius: 0.5em;
}

.details_icon img {
    position: absolute;
    height: 70%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.details_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding-block: 0.75em;
}

.details_bar {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.details_bar > * {
    width: 100%;
}

.details_bar p {
    color: #c0c0c0;
}

.details_card .bar {
    height: 1em;
    background-color: #d9d9d9;
    border-radius: 2em;
}

.rain {
    gap: .4em;
}

.uv {
    gap: .7em;
}

.feels_like {
    display: flex;
    justify-content: space-between;
}

.wind_meter {
    position: relative;
    display: flex;
    justify-content: center;
}

.wind_meter .meter {
    width: 70%;
    background-color: #d9d9d9;
    
    background-image: linear-gradient(65deg, transparent 50%, #d9d9d9 50%),
                        linear-gradient(50deg, #5C9CE5 50%, transparent 50%)
}

.meter_needle {
    position: absolute;
    height: 45%;
    bottom: 2em;

    transform-origin: bottom center;
    transform: rotateZ(-30deg) translateY(10%);
}

.meter_speed {
    position: absolute;
    bottom: 0;
}

.wet_0 {
    background-image: linear-gradient(90deg, #5C9CE5 100%, transparent 0%)
}

.wet_1 {
    background-image: linear-gradient(90deg, #5C9CE5 100%, transparent 0%)
}

.wet_2 {
    background-image: linear-gradient(90deg, #5C9CE5 27.3%, transparent 0%)
}


.rain_0 {
    background-image: linear-gradient(90deg, #5C9CE5 100%, transparent 0%)
}

.rain_1 {
    background-image: linear-gradient(90deg, #5C9CE5 70%, transparent 0%)
}

.rain_2 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_3 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_4 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_5 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_6 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_7 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_8 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.rain_9 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.uv_0 {
    background-image: linear-gradient(90deg, #5C9CE5 100%, transparent 0%)
}

.uv_1 {
    background-image: linear-gradient(90deg, #5C9CE5 50%, transparent 0%)
}

.uv_2 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.uv_3 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.uv_4 {
    background-image: linear-gradient(90deg, #5C9CE5 0%, transparent 0%)
}

.temp_0 {
    background-image: linear-gradient(90deg, #5C9CE5 67%, transparent 0%)
}

.chance_0 {
    background-image: linear-gradient(90deg, #5C9CE5 42%, transparent 0%)
}


.city {
    position: absolute;
    width: 100%;
    transition: 400ms;
}

.city:not(.active){
    opacity: 0;
}

.city.done {
    transform: translateX(-100%);
}

.city.soon {
    transform: translateX(100%)
}